*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container{

    background-color: rgb(242, 221, 239);
    height: 200vh;
    border: 10px solid black;
}  
.content{
    max-width: 900px;
    margin: 0 auto;

}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
}
.top_section h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.top_section h4{
text-align: end;
font-size: 30px;
}

.image_container{
border-radius: 50%;
overflow: hidden;
}
.about_section{
    margin-top: 50px;
}
.about_section h2{
     margin-bottom: 30px;
     font-size: 25px;
}

.about_section{
font-size: 16px;

}
.biography_section h3{
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.biography_section ul{
    margin-left: 50px;
}

.about_section li{
    margin-bottom:15px;
}
footer{
margin: 50px 0;
}
footer p{
    text-align: end;
}
